<div style="display: flex; align-items: center; justify-content: space-between;">
  <h2 mat-dialog-title [ngClass]="editMode ? 'title-mint' : 'title-blue'" style="margin-bottom: 0;">
    {{ this.editMode ? 'Editar Curso' : 'Crear Curso' }}
  </h2>
  <small *ngIf="showIncompleteError" class="form-error-message" style="margin-bottom:0;">Datos incompletos</small>
</div>
<mat-dialog-content class="mat-typography">
  <br>
  <form #courseForm="ngForm">
    <mat-form-field appearance="outline" class="temario-input small-label field-title">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" name="name" [(ngModel)]="newCourse.name" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="temario-input small-label field-description">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Descripción" name="description" [(ngModel)]="newCourse.description" required rows="1"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="temario-input small-label">
      <mat-label>Categoría</mat-label>
      <mat-select name="category" [(ngModel)]="newCourse.category" required>
        <mat-option value="ARABIC">Arabic</mat-option>
        <mat-option value="ENGLISH">English</mat-option>
        <mat-option value="FRENCH">French</mat-option>
        <mat-option value="GERMAN">German</mat-option>
        <mat-option value="HINDI">Hindi</mat-option>
        <mat-option value="JAPANESE">Japanese</mat-option>
        <mat-option value="MANDARIN_CHINESE">Mandarin Chinese</mat-option>
        <mat-option value="PORTUGUESE">Portuguese</mat-option>
        <mat-option value="RUSSIAN">Russian</mat-option>
        <mat-option value="SPANISH">Spanish</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="temario-input small-label">
      <mat-label>Precio</mat-label>
      <input matInput type="number" placeholder="Precio" name="price" [(ngModel)]="newCourse.price" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="temario-input small-label">
      <mat-label>Imagen (URL)</mat-label>
      <textarea matInput placeholder="Imagen (URL)" name="image" [(ngModel)]="newCourse.image" rows="1"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="temario-input small-label">
      <mat-label>Lenguaje</mat-label>
      <mat-select name="language" [(ngModel)]="newCourse.language" required>
        <mat-option value="ARTS">Arts</mat-option>
        <mat-option value="BUSINESS">Business</mat-option>
        <mat-option value="COMPUTER_SCIENCE">Computer Science</mat-option>
        <mat-option value="DESIGN">Design</mat-option>
        <mat-option value="HEALTH_AND_WELLNESS">Health & Wellness</mat-option>
        <mat-option value="HUMANITIES">Humanities</mat-option>
        <mat-option value="LANGUAGES">Languages</mat-option>
        <mat-option value="MATHEMATICS">Mathematics</mat-option>
        <mat-option value="PERSONAL_DEVELOPMENT">Personal Development</mat-option>
        <mat-option value="SCIENCE">Science</mat-option>
      </mat-select>
    </mat-form-field>
    <label [ngClass]="editMode ? 'label-blue' : 'label-mint'" style="margin-top: 8px; display: block;">Dificultad</label>
    <mat-radio-group name="difficulty" [(ngModel)]="newCourse.difficulty" required style="display: flex; flex-direction: row; gap: 16px;">
      <mat-radio-button value="BEGINNER">Beginner</mat-radio-button>
      <mat-radio-button value="INTERMEDIATE">Intermediate</mat-radio-button>
      <mat-radio-button value="ADVANCED">Advanced</mat-radio-button>
    </mat-radio-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
          class="btn-yellow-text"
          type="button"
          [mat-dialog-close]="true">Cancel</button>
  <button mat-button
        [ngClass]="['btn-action', !editMode ? 'btn-action-mint' : 'btn-action-blue']"
        type="submit"
        cdkFocusInitial
        (click)="onSubmit()">
    {{ newCourse.id === '' ? 'Crear' : 'Actualizar' }}
  </button>
</mat-dialog-actions>
