<mat-toolbar color="primary">
  @if (sidenav.mode === 'over') {
    <button mat-icon-button (click)="sidenav.toggle()" >
      @if (sidenav.opened) {
        <mat-icon>close</mat-icon>
      } @else {
        <mat-icon>menu</mat-icon>
      }
    </button>
  }
  <mat-icon matListItemIcon>rocket_launch</mat-icon>
  <span>Learning Center</span>
  <span class="mat-spacer"></span>
  @for(option of options; track option.title) {
    <a mat-button [routerLink]="option.path">{{ option.title }}</a>
  }
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <span>
    <app-language-switcher/>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      @for(option of options; track option.title) {
        <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="option.path">
          <mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
          {{ option.title }}
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
