<mat-toolbar color="primary" class="custom-toolbar">
  @if (sidenav.mode === 'over') {
    <button mat-icon-button (click)="sidenav.toggle()" >
      @if (sidenav.opened) {
        <mat-icon>close</mat-icon>
      } @else {
        <mat-icon>menu</mat-icon>
      }
    </button>
  }
  <mat-icon matListItemIcon>rocket_launch</mat-icon>
  <span>EDUnova</span>
  <span class="mat-spacer"></span>
  @if (!isSmallScreen) {
    @for(option of options; track option.title) {
      <a mat-button [routerLink]="option.path">{{ 'options.' + option.title | translate }}</a>
    }
  }
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <span>
    <app-language-switcher/>
  </span>
</mat-toolbar>

<mat-sidenav-container class="custom-sidenav-container">
  <mat-sidenav class="custom-sidenav">
    <mat-nav-list>
      @for(option of options; track option.title) {
        <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="option.path">
          <mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
          {{ 'options.' + option.title | translate }}
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="custom-content">
    <div class="content">
      <router-outlet />
      <br>
      <app-footer-content></app-footer-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
