<h2 mat-dialog-title class="delete-title">Eliminar Curso</h2>
<mat-dialog-content>
  <p class="delete-message">¿Quieres eliminar el curso <strong>"{{ selectCourse.name }}"</strong>?</p>
</mat-dialog-content>
<mat-dialog-actions class="delete-actions">
  <button mat-button class="btn-cancel" type="button" [mat-dialog-close]="true">Cancelar</button>
  <button mat-button class="btn-delete" type="button"
          cdkFocusInitial
          (click)="onDelete()" [mat-dialog-close]="true">Eliminar</button>
</mat-dialog-actions>
